.section {
  width: 100%;
  height: auto;
  min-height: 100vh;
  background-image: url('../../../../assets/images/blurry-gradient-haikei.svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-relative-h-1) 0;
  text-align: center;
  gap: var(--margin-7);
}

.courseHolder {
  width: 90%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: var(--margin-6);
  background-color: var(--color-7);
  padding: var(--padding-7);
  border-radius: 10px;
}

.courseTitle {
  font-size: var(--font-size-5);
  color: var(--color-3);
}

.infoHolder {
  display: flex;
  flex-direction: column;
  gap: var(--margin-6);
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.imgHolder {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgHolder img {
  border-radius: 5%;
}

.courseContent {
  width: 65%;
  padding: var(--padding-3);
  display: flex;
  flex-direction: column;
  gap: var(--margin-4);
  align-items: center;
}

.courseContent p {
  color: var(--color-6);
  font-size: var(--font-size-2);
  text-align: justify;
  font-weight: 500;
}

.prerequisitesUl {
  display: flex;
  list-style: circle;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: var(--margin-5);
  padding-left: var(--padding-6);
}

.prerequisitesLi {
  color: var(--color-6);
  font-size: var(--font-size-2);
  text-align: center;
}

.buttonsHolder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--margin-6);
}

.expandIcon {
  font-size: var(--font-size-4);
  padding-top: var(--padding-1);
}

.syllabusHolder {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--margin-6);
  align-items: center;
  justify-content: center;
}

.syllabusUl {
  list-style: none;
}

.syllabusDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--margin-5);
  align-items: center;
  justify-content: center;
  border: 2px solid var(--color-2);
  border-radius: 10px;
  padding: var(--padding-4);
}

.progressContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--margin-1);
}

.progressBar{
  height: 20px;
  border-radius: 10px;
  background-color: var(--color-2);
  transition: width 0.5s ease; 
  align-self: flex-start;
}

.progressInfo {
  width: 14%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--margin-3);
}

.completedDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--margin-4);
  width: 100%;
}

.completedP{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--margin-1);
}

.icon {
  width: 20px;
  height: 20px;
  color: var(--color-2);
}

.loading{
  font-size: var(--font-size-5);
  color: var(--color-1);
}

@media (width < 768px) {
  .section {
    background-image: url('../../../../assets/images/blurry-gradient-haikei-mobile.svg');
  }

  .courseHolder {
    width: 100%;
    padding: var(--padding-6);
  }

  .courseTitle {
    font-size: var(--font-size-4);
  }

  .courseContent {
    width: 100%;
  }

}