.nav {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  min-height: 60px;
  height: auto;
  padding: var(--padding-2) var(--padding-4);
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-1);
  text-align: center;
  gap: var(--padding-2);
}

.title {
  font-size: var(--font-size-4);
}

.ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding-3);
  list-style: none;
  font-size: var(--font-size-3);
}

.link {
  text-decoration: none;
  color: var(--color-6);
}

@media (width < 768px) {
  .nav {
    flex-direction: column;
  }
  .ul {
    flex: 1;
  }
}