:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-sans: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol';
  --padding-0: 0px;
  --padding-1: 4px;
  --padding-2: 8px;
  --padding-3: 12px;
  --padding-4: 16px;
  --padding-5: 24px;
  --padding-6: 32px;
  --padding-7: 48px;
  --padding-relative-h-1: 10vh;
  --padding-relative-h-2: 15vh;
  --padding-relative-1: 20%;

  --margin-0: 0px;
  --margin-1: 4px;
  --margin-2: 8px;
  --margin-3: 12px;
  --margin-4: 16px;
  --margin-5: 24px;
  --margin-6: 32px;
  --margin-7: 48px;
  --margin-8: 64px;

  --font-size-0: 12px;
  --font-size-1: 14px;
  --font-size-2: 16px;
  --font-size-3: 20px;
  --font-size-4: 24px;
  --font-size-5: 32px;
  --font-size-6: 48px;
  --font-size-7: 64px;

  --color-1 : #330c6a;
  --color-2 : #7945c2;
  --color-3 : #d7c4f2;
  --color-4 : #201f22;
  --color-5 : #bbb6c5;
  --color-6 : #e9e9e9;
  --color-7 : #201f2270;
  --color-8 :#e9e9e95b;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-family: var(--font-sans);
}

p,
span,
button,
input,
li,
option {
  font-family: var(--font-mono);
}

.button {
  padding: var(--padding-2) var(--padding-3);
  border-radius: 4px;
  border: none;
  background-color: var(--color-2);
  color: var(--color-6);
  font-size: var(--font-size-2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--margin-2);
}

.button:active {
  transform: translate(1px, 1px);
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.75);
}